<div class="player-container">
    <app-player *ngFor="let players of game.players; let i = index;" class="player-postition"
        [avatarValue]="game.avatars[i]" [name]="players" [playerActive]="i == game.currentPlayer"></app-player>
</div>

<img class="backgroundImage" id="backgroundImage" src="assets/img/backgrounds/wood-{{currentBackgroundImage}}.jpg"
    alt="Background Image">
<div (window:resize)="onResize()" class="field">

    <!--Card Stack for dealed cards-->
    <div class="dealedCardsOnTable">
        <img *ngFor="let img of game.dealedCards let i = index;" #imgElement class="dealedCards"
            [ngStyle]="addStyleToCards(i)" (click)="takeCard(imgElement, i)" [src]='img.source' alt="">

        <!--Stack for played cards-->
        <img class="played-cards" *ngFor="let c of game.playedCards let i = index;" #playedCard
            [ngStyle]="randomRotation(i)" src="assets/img/cards/{{ c }}.png" alt="">

        <!-- Card Stack -->
        <img id="dealingCards" *ngFor="let image of game.dealingCards let i = index;" class="card-stack"
            [ngStyle]="{'transform': ' rotate(90deg) translateX('+ i * -0.4 +'px) translateY('+ i * -0.3 +'px)'}"
            [src]='image' alt="">

        <!-- top card -->
        <img #topCard class="dealingCards card-stack" src="assets/img/cards/card-cover1.jpg" alt="">
    </div>


    <!--button for selicting a background image-->
    <div class="btn-container">
        <button class="btn-selectImg" mat-fab color="warn" aria-label="Example icon button with a home icon">
            <span class="material-symbols-outlined">
                photo
            </span>
            <mat-select>
                <div>
                    <h2 class="subtitle-imageSelector">Select a table!</h2>
                </div>
                <mat-option *ngFor="let images of backgroundImages" [value]="images.value">
                    <span (click)="changeBackground(images.value)" class="option-content"><img width="70" height="40"
                            [src]="images.image">
                        {{images.title}}</span>
                </mat-option>
            </mat-select>
        </button>

        <!--button to enter names of players-->
        <button [ngClass]="{'jump' : jump}" mat-fab color="primary" class="btn-add" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>

        <!-- <button class="btn-selectCard" mat-fab color="warn" aria-label="Example icon button with a home icon">
            <span class="material-symbols-outlined">
                note_add
            </span>
            <mat-select>
                <div>
                    <h2 class="subtitle-imageSelector">Select your card design!</h2>
                </div>
                <mat-option *ngFor="let images of cardCovers" [value]="images.value">
                    <span (click)="changeCardCover(images.value)" class="option-content-cards"><img width="70" height="40"
                            [src]="images.image">
                        {{images.title}}</span>
                </mat-option>
            </mat-select>
        </button> -->

        <button class="refreshBtn newGame" (click)="refresh()" mat-fab color="warn"
            aria-label="Example icon button with a home icon">
            <span class="material-symbols-outlined">
                replay
            </span>
        </button>
    </div>

    <app-game-info [ngClass]="{'errorInfo' : errorInfo}" [addPlayersTitle]="infoCardTitle"
        [addPlayersInfo]="infoCardDescription" [card]="currentCard" class="info-card"></app-game-info>
</div>