.backgroundImage {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1000;
}

.ImageFormField {
    position: absolute;
    top: 64px;
    right: 64px;
}

.field {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: absolute;
    left: 128px;
    width: 160px;
    transform: rotate(90deg);

    img {
        height: 200px;
        position: absolute;
    }
}

.card-stack {
    position: absolute;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    width: 180px;
    border-radius: 6%;

    &:hover {
        transform: scale(1.1) translateY(-10px) rotate(90deg);
    }
}

.played-cards {
    // transform: scale(1.3) translateX(480px) translateY(-180px) rotate(10deg);
    position: absolute;
    height: 180px;
}

.player-postition {
    position: absolute;
    right: 0;
}

.info-card {
    position: absolute;
    width: 70vw;
    bottom: 48px;
}

.cardStack {
    position: absolute;
}

.dealingCards {
    position: absolute;
    animation: dealingCards 250ms ease-in-out;
    animation-iteration-count: 52;
}

@keyframes dealingCards {
    0% {
        transform: translateX(20px) translateY(-20px) rotate(90deg) scale(1);
    }

    40% {
        transform: translateX(20px) translateY(-20px) rotate(90deg) scale(1.3);
    }

    50% {
        transform: translateX(20px) translateY(-20px) rotate(90deg) scale(1.3);
    }


}

.dealedCardsOnTable {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.dealedCards {
    position: absolute;
    width: 180px;
    border-radius: 6%;
    box-shadow: 1px -2px #4f4f4f;

    &:hover {
        filter: brightness(1.5);
        cursor: pointer;
    }
}

.turnCardAnimation {
    animation: turnCard 1000ms ease-in-out;
    z-index: 8000;

}

@keyframes turnCard {
    0% {
        transform: rotate(var(rotation)) scale(1) translateX(250px);
    }

    50% {
        transform: rotate(var(rotation)) scale(1.3) translateX(400px);
    }

    100% {
        transform: rotate(var(rotation)) scale(1) translateX(0px);
    }
}

.btn-container {
    display: flex;
    gap: 32px;
    position: absolute;
    bottom: 64px;
    right: 64px;
}

.option-content {
    display: flex !important;
    gap: 12px !important;
}

.mat-select-arrow {
    display: none !important;
}

.mat-select-value {
    display: none !important;
}