.backgroundImage {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -10000000;
}

.errorMessage {
    background-color: red;
}

.ImageFormField {
    position: absolute;
    top: 64px;
    right: 64px;
}

.field {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: absolute;
    left: 128px;
    width: 160px;
    transform: rotate(90deg);

    img {
        height: 200px;
        position: absolute;
    }
}

.card-stack {
    position: absolute;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    width: 180px;
    border-radius: 6%;

    &:hover {
        transform: scale(1.1) translateY(-10px) rotate(90deg);
    }
}

.played-cards {
    position: absolute;
    height: 180px;
    animation: rotateCard 200ms ease-out;
    box-shadow: 1px -1px #4f4f4f;
    border-radius: 5px;
}

@keyframes rotateCard {
    0% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotate(var(random)) rotateY(0deg);
    }
}

.info-card {
    position: absolute;
}

.cardStack {
    position: absolute;
}

.dealingCards {
    position: absolute;
    animation: dealingCards 250ms ease-in-out;
    animation-iteration-count: 52;
}

@keyframes dealingCards {
    0% {
        transform: translateX(20px) translateY(-20px) rotate(90deg) scale(1);
    }

    40% {
        transform: translateX(20px) translateY(-20px) rotate(90deg) scale(1.3);
    }

    50% {
        transform: translateX(20px) translateY(-20px) rotate(90deg) scale(1.3);
    }
}

.dealedCardsOnTable {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dealedCards {
    position: absolute;
    width: 180px;
    border-radius: 6%;
    box-shadow: 1px -2px #4f4f4f;

    &:hover {
        filter: brightness(1.5);
        cursor: pointer;
    }
}

.turnCardAnimation {
    animation: turnCard 600ms ease-in-out;
    z-index: 8000;
}

@keyframes turnCard {
    0% {
        transform: rotateX(90deg) rotateY(90deg) rotate(angle) scale(1) translateX(250px);
    }

    50% {
        transform: rotateX(90deg) rotateY(90deg) rotate(angle) scale(1.3) translateX(400px);
    }

    100% {
        transform: rotateX(90deg) rotateY(90deg) translateX(0px);
    }
}

.btn-add {
    position: absolute;
    bottom: 64px;
    right: 48px;
}

.btn-selectImg {
    position: absolute;
    bottom: 64px;
    right: 128px;
}

.option-content {
    display: flex !important;
    gap: 12px !important;
}

.mat-select-arrow {
    display: none !important;
}

.mat-select-value {
    display: none !important;
}

.subtitle-imageSelector {
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 16px;
}

.jump {
    animation: jump 600ms 2 ease-in-out;
}

@keyframes jump {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    25% {
        transform: scale(1.1, .9) translateY(0);
    }

    50% {
        transform: scale(.9, 1.1) translateY(-70px);
    }

    75% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.errorInfo {
    background-color: #ff0000 !important;
    animation: blink 600ms 2 ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }  

    100% {
        opacity: 1;
    } 
}

/* Extra small devices (phones, 280px and up) */
@media only screen and (min-width: 280px) {
    .player-container {
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
    }

    .dealedCardsOnTable {
        transform: translateY(-20px);
    }

    .dealedCards {
        width: 90px;
    }

    .card-stack {
        width: 90px;
    }

    .played-cards {
        height: 90px;
    }

    .info-card {
        width: 90vw;
        bottom: 85px;
    }

    .btn-container {
        display: flex;
        position: absolute;
        bottom: 18px;
        gap: 24px;
    }

    .btn-selectImg {
        background-color: #24b657 !important;
        position: relative;
        bottom: 0;
        right: 0;

        &:hover {
            filter: brightness(1.2);
        }
    }

    .btn-add {
        background-color: #405da6 !important;
        position: relative;
        bottom: 0;
        right: 0;

        &:hover {
            filter: brightness(1.2);
        }
    }

    .btn-selectCard {
        background-color: #b8c55d !important;

        &:hover {
            filter: brightness(1.2);
        }
    }

    .refreshBtn {
        background-color: #b3377b !important;

        &:hover {
            filter: brightness(1.2);
        }
    }
}

/* Extra small devices (phones, 340px and up) */
@media only screen and (min-width: 340px) {
    .dealedCards {
        width: 100px;
    }

    .card-stack {
        width: 100px;
    }

    .played-cards {
        height: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 450px and up) */
@media only screen and (min-width: 450px) {
    .dealedCards {
        width: 120px;
    }

    .card-stack {
        width: 120px;
    }

    .played-cards {
        height: 120px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .info-card {
        width: 60vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .dealedCards {
        width: 150px;
    }

    .card-stack {
        width: 150px;
    }

    .played-cards {
        height: 150px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .player-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
        top: 0;
    }

    .dealedCardsOnTable {
        transform: translateY(-50px);
    }

    .btn-container {
        right: 32px;
        bottom: 32px;
    }

    .info-card {
        left: 64px;
        bottom: 32px;
    }

    .dealedCards {
        width: 160px;
    }

    .card-stack {
        width: 160px;
    }

    .played-cards {
        height: 160px;
    }
}

/* large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .btn-container {
        right: 64px;
    }

    // .info-card {
    //     left: 64px;
    // }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    .dealedCards {
        width: 180px;
    }

    .card-stack {
        width: 180px;
    }

    .played-cards {
        height: 180px;
    }

    .info-card {
        left: 128px;
    }

    .btn-container {
        right: 128px;
    }
}

/* small devices in landscape */
@media only screen and (max-height: 400px) {
    .dealedCards {
        width: 90px !important;
    }

    .card-stack {
        width: 90px !important;
    }

    .played-cards {
        height: 90px !important;
    }

    .btn-container {
        right: 64px;
        gap: 12px;
    }

    .info-card {
        left: 24px;
        bottom: 18px;
        width: 60vw;
    }

    .dealedCards {
        width: 90px;
    }

    .player-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        top: 0;
    }
}