.backgroundImage {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1000;
}

.ImageFormField {
    position: absolute;
    top: 64px;
    right: 64px;
}

.field {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    // background-image: url('/assets/img/backgrounds/wood-1.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: absolute;
    left: 128px;
    width: 160px;

    img {
        height: 200px;
        position: absolute;
    }
}

.card-stack {
    position: absolute;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    width: 180px;

    &:hover {
        transform: scale(1.1) translateY(-10px) rotate(130deg);
    }
}

// .pick-card {
//     animation: pick-card-animation 1s ease-in-out;
//     transform: scale(1.3) translateX(480px) translateY(-180px) rotate(10deg);
// }

// @keyframes pick-card-animation {

//     0% {
//         transform: scale(1);
//     }

//     40% {
//         transform: scale(1.7);
//     }

//     50% {
//         transform: scale(1.7);
//     }

//     100% {
//         transform: scale(1.3) translateX(480px) translateY(-180px) rotate(10deg);
//     }
// }

.played-cards {
    transform: scale(1.3) translateX(480px) translateY(-180px) rotate(10deg);
    position: absolute;
    height: 180px;
}

.player-postition {
    position: absolute;
    right: 0;
}

.info-card {
    position: absolute;
    width: 70vw;
    bottom: 64px;
}

.cardStack {
    position: absolute;
}

.dealingCards {
    position: absolute;
    animation: dealingCards 200ms ease-in-out;
    animation-iteration-count: 55;
}

@keyframes dealingCards {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1.5);
    }

    // 100% {
    //     transform: scale(1) translateX(450px) translateY(40px) rotate(10deg);
    // }
}

.dealedCardsOnTable {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.dealedCards {
    position: absolute;
    width: 180px;
    border-radius: 6%;
    box-shadow: 1px -1px #000000;

    &:hover {
        filter: brightness(1.5);
        cursor: pointer;
        // height: 220px;
    }
}

.btn-container {
    display: flex;
    // flex-direction: column;
    gap: 32px;
    position: absolute;
    bottom: 64px;
    right: 64px;
}

.option-content {
    display: flex !important;
    gap: 12px !important;
}

.mat-select-arrow {
    display: none !important;
}

.mat-select-value {
    display: none !important;
}