<app-player *ngFor="let players of game.players; let i = index;" class="player-postition"
    [ngStyle]="{'top.px': 130 + (i * 90)}" [name]="players" [playerActive]="i == game.currentPlayer"></app-player>

<div class="field">

    <!--Card Stack for dealed cards-->
    <div class="dealedCardsOnTable">
        <img *ngFor="let img of game.dealedCards let i = index;" class="dealedCards"
            [ngStyle]="{'transform': 'rotate('+ (randomMath()) +'deg)'}" (click)="takeCard()" [src]='img' alt="">
    </div>

    <div class="card-stack">

        <!--Card Stack-->
        <img *ngFor="let image of game.dealingCards let i = index;" [ngStyle]="{'right.px': i * 0.4}"
            (click)="takeCard()" [src]='image' alt="">

        <!--top card-->
        <img id="topCard" (click)="takeCard()" class="dealingCards top-card" style="right: 25px;"
            src="/assets/img/cards/card_cover.png" alt="">

        <!--Stack for played cards-->
        <img class="played-cards" *ngFor="let c of game.playedCards" src="/assets/img/cards/{{ c }}.png" alt="">

        <!--Current card animation-->
        <img *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;"
            src="/assets/img/cards/{{ currentCard }}.png" alt="">
    </div>

    <button mat-fab color="primary" class="btn-add" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>


    <app-game-info [card]="currentCard" class="info-card"></app-game-info>
</div>