<app-player *ngFor="let players of game.players; let i = index;" class="player-postition"
    [ngStyle]="{'top.px': 130 + (i * 90)}" [name]="players" [playerActive]="i == game.currentPlayer"></app-player>

<img class="backgroundImage" src="/assets/img/backgrounds/wood-{{x}}.jpg" alt="Background Image">
<div class="field">

    <!--Card Stack for dealed cards-->
    <div class="dealedCardsOnTable">
        <img *ngFor="let img of game.dealedCards let i = index;" #imgElement id="card_{{i}}" class="dealedCards" [ngStyle]="addStyleToCards(i)"
            (click)="takeCard(imgElement)" [src]='img.source' alt="">

        <!--Stack for played cards-->
        <img [ngStyle]="{'transform': 'rotate('+ 180 * this.game.randomNumber[i] +'deg)'}" class="played-cards"
            *ngFor="let c of game.playedCards let i = index;" src="/assets/img/cards/{{ c }}.png" alt="">

        <!-- Card Stack -->
        <img id="dealingCards" *ngFor="let image of game.dealingCards let i = index;" class="card-stack"
            [ngStyle]="{'transform': ' rotate(90deg) translateX('+ i * -0.4 +'px) translateY('+ i * -0.3 +'px)'}" [src]='image' alt="">

        <!--top card-->
        <img *ngFor="let img of game.dealingCards let i = index;" class="dealingCards card-stack"
            [ngStyle]="styleTopCard(i) " src="/assets/img/cards/card-cover.jpg" alt="">
    </div>

    <!-- <div class="cardStack"> -->

    <!-- Current card animation-->
    <!-- <img *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;"
            src="/assets/img/cards/{{ currentCard }}.png" alt=""> -->

    <!-- </div> -->


    <div class="btn-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
            <span class="material-symbols-outlined">
                photo
            </span>
            <mat-select>
                <mat-option *ngFor="let images of backgroundImages" [value]="images.value">
                    <span (click)="changeBackground(images.value)" class="option-content"><img width="70" height="40"
                            [src]="images.image">
                        {{images.title}}</span>
                </mat-option>
            </mat-select>
        </button>

        <button mat-fab color="primary" class="btn-add" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <app-game-info [card]="currentCard" class="info-card"></app-game-info>
</div>