.mat-dialog-content {

    display: flex;
    flex-direction: column !important;

}

.mat-option {
    height: auto !important;
    line-height: 0px !important;
    padding: 12px;
}

.avatarFormField {
opacity: 0;
}

.avatarForm {
    max-width: 235px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;
}

.avatarImage {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.mat-select-panel {
    min-width: 100% !important;
    transform: translateX(-16px) translateY(-20px) !important;
    display: flex;
    flex-wrap: wrap !important;
}

