body {
    margin: 0;
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    background: #ffffffd6 !important;
    color: #000 !important;

    input {
        color: black !important;
        &::placeholder {
            color: black !important;
          }
    }

    button {
        color: #000 !important;
    }
}

.mat-select-arrow-wrapper {
    display: none !important;
}

.mat-select-value {
    display: none !important;
}

.mat-select-trigger {
    position: absolute !important;
    width: 55px !important;
    height: 55px !important;
    border-radius: 100% !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
}

